/*Responsive design : breakpoints*/
$breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px);

@mixin xsmall-only {
	@media screen and (max-width: map-get($breakpoints, sm)) {
		@content;
	}
}
@mixin medium {
	@media screen and (max-width: map-get($breakpoints, md)) {
		@content;
	}
}
@mixin large {
	@media screen and (min-width: map-get($breakpoints, md)) {
		@content;
	}
}
@mixin x-large {
	@media screen and (min-width: map-get($breakpoints, lg)) {
		@content;
	}
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'galada';
    src: url('../css/fonts/Galada/Galada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin';
    src: url('../css/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$dark-bg : #552244;
$border-bg : #8d6b7a; //#a17b8c;
$accent : #563517; 
$light-bg : #ebebeb;
$dark-type : #4f4f50;

* {
    font-family: 'josefin', Arial, Helvetica, sans-serif;
    font-size: 1em;
    outline: none;
    margin : 0;
}
.valid {
    border-color: green !important;
    box-shadow: 0 0 2px 1px green !important;
}
.invalid {
    border-color: red !important;
    box-shadow: 0 0 2px 1px red !important;
}
a:focus {
    border: 1px $dark-type solid;
}

.text-primary {
    color: $accent !important;
  }
.navbar {
    background-color: $dark-bg; 
}
.navbar-brand {
    font-family: 'galada', Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.fa-camera-retro, .fa-user, .fa-shopping-cart {
    color: $dark-type;
}
.fa-camera-retro:hover, .fa-user:hover, .fa-shopping-cart:hover {
    color: $light-bg;
}
.active.fa-inverse, .active.d-lg-none, .fa-camera-retro:focus, .fa-user:focus, .fa-shopping-cart:focus {
    color: #fff !important;
}
.compteur {
    background-color: $border-bg;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    text-align: center;
    padding-top: 0.25rem;
    margin-left: 2rem;
    margin-top: -0.3rem;
    border-radius: 50%;
    width: 25px ;
    height: 25px;
}
.ml-auto {
    margin-left: auto;
}
.banner {
    @include xsmall-only {
        padding-top: 6rem;
        padding-bottom: 1rem;
        height: 300px;
	}
    padding-top: 18rem;
    padding-bottom: 3rem;
    text-align: center;
    color: #fff;
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
div.banner__subtitle {
    @include xsmall-only {
        font-size: 1.2rem;
    }
    font-size: 2rem;
    padding-bottom: 2rem;
}
div.banner__title {
    @include xsmall-only {
        font-size: 2.2rem;
    }
    font-family: 'galada';
    font-size: 5rem;
}

.products {
    background-color: $light-bg;
    width: 100%;
    padding: 5% 15px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1rem solid $border-bg;
}
.products a {
    text-decoration: none;
    color: $dark-type;
}
.products a:hover, .products a:focus {
    color: $dark-bg;
}
h1 {
    @include xsmall-only {
        font-size: 2rem;
    }
    font-family: 'galada';
    color: $dark-type;
    font-size: 3rem;
}
h2 {
    color: $dark-type;
    font-size: 1.5rem;
    text-align: center;
}
.card {
    height: 100%;
}
div.card-price {
    color: $dark-type;
    font-size: 1rem;
    text-align: center;
}

.products .name-control, .email-control {
    border-radius: 0.5rem;
}
.card__image {
    padding: 0.5rem;
}
#camera {
    margin-top: 5%;
    margin-bottom: 5%;
}
.price {
    font-size: 1.4rem;
}

#camera__image img{
    @include medium {
        max-width: 100%;
        margin-bottom: 2rem;
    }
    @include large {
        max-width: 300px;
    }
    @include x-large {
        max-width: 450px;
    }
    padding: 0.5rem;
    border: 0.5px solid $dark-bg;
}
#camera__info h1 {
    font-size: 2.5rem;
}
.services.fas.fa-stack {
    color: $accent;
}
.breadcrumb-item, .breadcrumb-item > a {
    color: $dark-type !important;
}
.lenses {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px $accent solid;
}
input[type="submit"] {
    background-color: $accent;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px $dark-type solid;
    &:focus {
        border-width: 2px;
    }
}
table {
    @include xsmall-only {
        font-size: 0.8rem;
    }
    font-size: 1rem;
}
#account {
    display: flex;
    margin-left: auto;
}

.order, .account {
    margin-top: 10%;
    margin-bottom: 3%;
}
#start {
    margin : 2% auto 3% auto;
}

.order__title, .account__title {
    @include medium {
        font-size: 0.8rem;
        line-height: 55px;
    }
    padding: 0 10px;
    line-height: 48px;
    height: 48px;
    border-radius: 0.5rem;
    background-color: $light-bg;
    color: $dark-type;
    text-transform: uppercase;
    font-family: 'josefin';
    font-size: 1.8rem;
}
.order__subtitle, .account__subtitle {
    color: $dark-type;
    font-size: 24px;
    font-family: 'galada';
    text-align: left;
}
.del {
    color: #212529;
}
.del:focus, .del:hover {
    color: $border-bg;
}
.button {
    margin-bottom: 5%;
}
.account .row {
    margin-bottom: 2%;
}
.account label {
    margin-bottom: 0;
}
#checkPanier__list tr td {
    vertical-align : middle;
}
#checkPanier__list img {
    max-width: 100px;
}
.orderThx, .message, .error {
    @include xsmall-only {
        font-size: 1rem;
	}
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 6%;
}

.btn {
    background-color: $dark-bg;
    color: #fff;
}
.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}
section.services {
    padding: 5% 0;
    border-bottom: 2rem solid $dark-bg;
}
h2.services__title {
    @include xsmall-only {
        font-size: 2rem;
    }
    font-family : 'galada';
    font-size: 3rem;
}

h4 {
    font-size: 1rem;
}
.footer-banner {
    @include large {
        background-image: url("../images/bg-footer.jpg");
    }
    background-color: $accent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-top: 0.75rem solid $border-bg;
    &__col {
        padding: 3%;
        margin: 5% 1rem;
        background-color: white;
        border-radius: 0.5rem;
        font-size: 12px;
        & li {
            list-style: none;
        }
    }
}
h6 {
    font-family: 'galada';
    color: $dark-type;
}
.footer-legal {
    @include medium {
        height: 100px;
        font-size: 0.6em;
    }
    height: 50px;
    background-color: $light-bg;
    color: $dark-type;
    font-size: 0.7em;
}
.footer-legal a {
    text-decoration: none;
    color: $dark-type;
}
a.btn.btn-social {
    color: $light-bg;
}
a.btn.btn-social:hover {
    color: #fff;
}
